$primaryColor: #0f1467; 
$secondaryColor: #d3a418;
$accentColor: #773a3a;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;